.nav_container{
    /* background-color: #FE8A02; */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='200' preserveAspectRatio='none' viewBox='0 0 1920 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1191%26quot%3b)' fill='none'%3e%3cpath d='M2016 200L0 200 L0 155.02Q77.81 72.83%2c 160 150.65Q234.16 64.82%2c 320 138.98Q413.04 72.02%2c 480 165.06Q522.53 111.59%2c 576 154.12Q617.4 99.52%2c 672 140.92Q764.46 73.38%2c 832 165.83Q874.08 111.91%2c 928 153.99Q999.04 65.04%2c 1088 136.08Q1177.8 65.88%2c 1248 155.68Q1319.65 67.33%2c 1408 138.98Q1454.71 89.69%2c 1504 136.41Q1562.06 98.47%2c 1600 156.52Q1679.9 76.43%2c 1760 156.33Q1830.54 66.87%2c 1920 137.4Q1967.63 89.03%2c 2016 136.67z' fill='rgba(255%2c 199%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1984 200L0 200 L0 185.38Q34.38 123.76%2c 96 158.14Q183.26 85.4%2c 256 172.67Q342.65 99.32%2c 416 185.97Q483.91 93.89%2c 576 161.8Q663.08 88.88%2c 736 175.95Q821.09 101.04%2c 896 186.12Q933.14 127.26%2c 992 164.4Q1045.83 122.23%2c 1088 176.06Q1173.48 101.54%2c 1248 187.02Q1317.28 96.3%2c 1408 165.58Q1461.03 122.61%2c 1504 175.64Q1589.07 100.71%2c 1664 185.78Q1729.94 91.72%2c 1824 157.66Q1912.41 86.07%2c 1984 174.49z' fill='rgba(255%2c 187%2c 39%2c 1)'%3e%3c/path%3e%3cpath d='M2016 200L0 200 L0 190.07Q55.71 149.78%2c 96 205.5Q168.28 117.78%2c 256 190.06Q333.29 107.35%2c 416 184.64Q507.07 115.71%2c 576 206.78Q650.04 120.82%2c 736 194.86Q808.83 107.69%2c 896 180.52Q956.6 145.12%2c 992 205.72Q1034.94 152.66%2c 1088 195.6Q1162.63 110.23%2c 1248 184.85Q1339.49 116.34%2c 1408 207.84Q1449.51 153.35%2c 1504 194.86Q1546.92 141.78%2c 1600 184.7Q1691.92 116.62%2c 1760 208.54Q1801.53 154.06%2c 1856 195.59Q1930.33 109.92%2c 2016 184.25z' fill='rgba(255%2c 92%2c 0%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1191'%3e%3crect width='1920' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-color: #FE8A02;
    display: flex;
    justify-content: space-around;
    height: 15vh;
    width: 100%;
    align-items: center;
}

@media (max-width:960px) {
    .nav_container{
        justify-content: space-between;
    }
}

.logo_nav{
    display: flex;
    gap: 20px;
    text-emphasis: underline;
    align-items: center;
    padding: 40px;
}

@keyframes rotateBomb {
    0% {
        transform: rotate(60deg);
    }
    50% {
        transform: rotate(50deg);
    }
    100%{
        transform: rotate(60deg);
    }
}

.logo_nav>img{
    width: 48px;
    object-fit: contain;
    /* transform: rotate(90deg); */
    animation: rotateBomb infinite 2s;
}

.logo_nav>h1{
    font-family: var(--font-loggin);
    letter-spacing: 7px;
}

@media (max-width:960px) {
    .logo_nav>h1{
        display: none;
    }
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 34px;
    padding-right: 20px;
    cursor: pointer;
}

.user_icon{
    transition: 0.5s all ease;
}
.user_icon:hover{
    color: white;
}

.logout_icon{
    transition: 0.5s all ease;
}

.logout_icon:hover{
    color: white;
}

.login_icon{
    font-size: 34px;
    cursor: pointer;
}

.submenu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    font-family: var(--font-loggin);
    font-size: 30px;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    width: 100%;
    background-color: #f7ad57;
}

.submenu>li{
    transition: 0.3s all ease;
    cursor: pointer;
}

.submenu>li:hover{
    color: white;
}


.dashboard_btn{
    font-size: 30px;
    text-decoration: none;
    transition: 0.5s all ease;
    font-family: var(--font-loggin);
    letter-spacing: 2px;
}

.dashboard_btn:hover{
    color: white;
}
